<nav class="navbar navbar-expand-sm nav-fill navbar-light bg-dark ">
  <a class="navbar-brand text-info" href="/">Book Nook</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarnav">
              <span class="navbar-toggler-icon"></span>
            </button>
  <div class="container "> 
    <%= link_to "Home", root_path, class: 'text-light nav-link'%> |
    <%= link_to "Log In", login_path, class: 'text-light nav-link' %> |
    <%= link_to "Sign Up", signup_path, class: 'text-light nav-link'%> |
    <%= link_to 'Log in with Github!', '/auth/github', class: 'text-light nav-link' %>
  </div>
</nav>